@{
  Layout = "_Layout";
}

<h1>Welcome to the Pierre's Bakery!</h1>

<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p><br>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p><br>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>